/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  height: 80px;
  background-color: #f5f5f5;
}

/* Logo */
nav img {
  width: 93px;
  height: 29px;
}

/* Links */
nav a {
  text-decoration: none;
  color: #2b1b12;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  transition: 0.3s ease;
}

nav a:hover {
  color: #4f46e5;
}

/* Auth Section */
.auth {
  display: flex;
  align-items: center;
  gap: 30px;
}

.auth-img {
  width: 21px;
  height: 22px;
}


.auth-img {
  width: 24;
  height: 24px;
}

.btn {
  width: 122px;
  height: 48px;
  border-radius: 8px;
  background-color: #12100c;
  color: #fff;
  border: none;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #4f46e5;
}

/* Responsive */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    padding: 10px 20px;
    height: auto;
  }

  nav a {
    margin: 10px 0;
  }

  .auth {
    margin-top: 10px;
    gap: 15px;
  }
}
